*	{
	color: red;
}

p	{
	color: black;
}

h1	{
	color: blue;
}


li {
	color: pink;
}

.container {
	width: 200px;
	height: 100px;
	background-color: red;
	margin: 10px;
	padding: 10px;
}



.first-box-container {
	width: 200px;
	height: 100px;
	background-color: red;
}

.second-box-container {
	width: 200px;
	height: 100px;
	background-color: yellow;
	left: 250px;
	position: absolute;
}

.third-box-container {
	width: 200px;
	height: 100px;
	background-color: green;
}

